* {
  box-sizing: border-box;
  font-family: 'Gamja Flower', cursive;
}

ul,
li {
  list-style: none;
}

button {
  outline: 0;
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef8ec;
}

@font-face {
  font-family: 'Gamja Flower';
  src: url('./common/GamjaFlower-Regular.ttf');
}
